*{
	margin:0;
	padding:0;
}

body{
	margin: 0;
	font-family: 'Amatic SC', cursive;
	font-size:17px;
	color:#fff;
	line-height:1.6;
	
}

#showcase{
	background-image:url('../img/background.jpg');
	background-size:cover;
	background-position:fixed;
	height:140vh;
	display:flex;
	flex-direction:column;
	justify-content:top;
	align-items:top;
	text-align:top;
	padding:0 20px;
	
}

#showcase h1{
	font-size:50px;
	line-height:1.2;
	
}

#showcase h2{
	font-size:20px;
}

#showcase p{
	font-size:20px;
}

#showcase section-a{
	background-color:#5D3FD3;
	border: 5px outset #301934;
	font-size:15px;
	font-family: Arial,"Helvetica Neue", Helvetica,sans-serif;
}

img {
  border: 1px solid #FFFDD0;
  border-radius: 4px;
  padding: 5px;
  height:300px;
  width:600px;
  position:bottom-middle;
}

#showcase .button{
  margin: 0;
  position: absolute;
  top: 110%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  letter-spacing: 0.05em; 
  background-color:#5D3FD3;
  border: 5px outset #FFFDD0;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display:inline-block;
  font-size: 22px;
}

#showcase .button:hover{
	background:#4169e1;
	color:#fff;
}
